@font-face {
    font-family: 'fraunces';
    src: url(../fonts/Fraunces_144pt-SemiBold.ttf);
}

@font-face {
    font-family: 'Manrope';
    src: url(../fonts/Manrope-VariableFont_wght.ttf);
}

body {
    max-width: 1440px;
    /* background: var(--primary-color) url(../images/bg-pattern-1.svg) no-repeat; */
    color: var(--soft-secundary);
    background-color: darkgrey;
    margin: auto;
}

header {
    width: 100%;
    padding: 56px 165px;
}

header nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-header {
    width: 95.76px;
    height: auto;
}

.btn-header {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: var(--soft-secundary);
    border-bottom: 3px solid var(--secundary-color);
}

.btn-header:active {
    color: var(--secundary-color);
}

.hero {
    text-align: center;
}

.container-hero {
    width: 635px;
    min-height: 258px;
    margin: 63px auto 0;
}

.title {
    color: var(--soft-secundary);
    font-family: 'fraunces';
    font-size: 80px;
}

.btn-hero {
    background-color: var(--secundary-color);
    color: var(--primary-color);
    display: block;
    width: 161px;
    height: 61px;
    line-height: 61px;
    margin: 35px auto 0;
    font-family: 'Manrope';
    font-weight: 700;
}

.btn-hero:active {
    border: 2px solid var(--secundary-color);
    background-color: transparent;
    color: var(--secundary-color);
}

.image-hero {
    width: 715px;
    height: auto;
    margin-top: 148px;
}

.list {
    width: 1114px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 90px auto 0;
    color: var(--primary-color);
}

.about .list .item {
    width: 354px;
}

/* .about .item .content-item {
    background-color: brown;
} */

.number {
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: 'fraunces';
    border-radius: 50%;
    border: 1px solid var(--tertiary-color);
    margin: auto;
}

.about h2 {
    font-family: 'fraunces';
    font-size: 32px;
    margin-top: 56px;
}

.about p {
    font-family: 'Manrope';
    font-size: 18px;
    font-weight: 400;
    margin-top: 28px;
    color: var(--tertiary-color);
}

.about .container-description {
    width: 1112px;
    height: 647px;
    position: relative;
    margin: 281px auto 0;
}

.about .image-founder {
    width: 477px;
    height: 477px;
}

.about .container-description .content-founder-extern {
    width: 730px;
    height: 474px;
    position: absolute;
    right: 0;
    top: 173px;
}

.about .container-description .content-founder-extern .bg-pattern-3 {
    width: 173px;
    height: 137px;
    position: absolute;
    right: 72px;
    bottom: 0;
    z-index: 0;
}

.about .container-description .content-founder {
    background-color: var(--primary-color);
    width: 100%;
    height: 413px;
    padding: 65px;
    /* bottom: 20px; */
}

.about .container-description .content-founder h2 {
    font-size: 56px;
    margin-top: 0;
}

.about .container-description .content-founder p {
    font-size: 18px;
    margin-top: 32px;
    color: var(--soft-secundary);
}

.about .container-description .content-founder a {
    background-color: var(--secundary-color);
    width: 190px;
    height: 61px;
    display: block;
    text-align: center;
    line-height: 61px;
    font-size: 18px;
    font-family: 'Manrope';
    font-weight: 700;
    margin-top: 32px;
}

footer .logo-footer {
    width: 95px;
    height: auto;
}

footer .redes-sociais {
    display: flex;
}

footer .redes-sociais .rede-social a i {
    background-color: red;
    width: 20px;
    height: 20px;
    font-size: 20px;
}