@font-face {
    font-family: 'fraunces';
    src: url(../fonts/Fraunces_144pt-SemiBold.ttf);
}

@font-face {
    font-family: 'Manrope';
    src: url(../fonts/Manrope-VariableFont_wght.ttf);
}

body {
    max-width: 1440px;
    color: var(--soft-secundary);
    background: url(../images/bg-pattern-1.svg) -138px 116px no-repeat, url(../images/bg-pattern-2.svg) right -48px top 314px no-repeat, radial-gradient(circle at 50% -45%, #24053e 54%, #fcf8ff 33% 70%, #ffffff 66%);
    background-size: 270px 215px, 141px 112px, auto;
    margin: auto;
}

header {
    max-width: 1440px;
    padding: 56px 165px;
}

header nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main {
    max-width: 1440px;
}

.logo-header {
    width: 95.76px;
    height: auto;
}

.btn-header {
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 18px;
    color: var(--soft-secundary);
    border-bottom: 3px solid var(--secundary-color);
}

.btn-header:active {
    color: var(--secundary-color);
}

.hero {
    text-align: center;
}

.container-hero {
    width: 635px;
    min-height: 258px;
    margin: 63px auto 0;
}

.title {
    color: var(--soft-secundary);
    font-family: 'fraunces';
    font-size: 80px;
}

.btn-hero {
    background-color: var(--secundary-color);
    color: var(--primary-color);
    display: block;
    width: 161px;
    height: 61px;
    line-height: 61px;
    margin: 35px auto 0;
    font-family: 'Manrope';
    font-weight: 700;
}

.btn-hero:active {
    border: 2px solid var(--secundary-color);
    background-color: transparent;
    color: var(--secundary-color);
}

.image-hero {
    width: 715px;
    height: auto;
    margin-top: 148px;
}

.list {
    max-width: 1114px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    margin: 90px auto 0;
    color: var(--primary-color);
}

.about .list .item {
    width: 354px;
}

/* .about .item .content-item {
    background-color: brown;
} */

.number {
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: 'fraunces';
    border-radius: 50%;
    border: 1px solid var(--tertiary-color);
    margin: auto;
}

.about h2 {
    font-family: 'fraunces';
    font-size: 32px;
    margin-top: 56px;
}

.about p {
    font-family: 'Manrope';
    font-size: 18px;
    font-weight: 400;
    margin-top: 28px;
    color: var(--tertiary-color);
}

.about .container-description {
    max-width: 1112px;
    min-height: 647px;
    position: relative;
    margin: 281px auto 0;
}

.about .image-founder {
    max-width: 477px;
    height: auto;
}

.about .container-description .content-founder-extern {
    max-width: 730px;
    height: 474px;
    position: absolute;
    right: 0;
    bottom: 0;
    background: url(../images/bg-pattern-3.svg) right 72px bottom 0 no-repeat, linear-gradient(#24053e 413px ,#ffffff 413px);
    background-size: 173px 137px, auto;
}

.about .container-description .content-founder {
    width: 100%;
    height: 413px;
    padding: 65px;
}

.about .container-description .content-founder h2 {
    font-size: 56px;
    margin-top: 0;
}

.about .container-description .content-founder p {
    font-size: 18px;
    margin-top: 32px;
    color: var(--soft-secundary);
}

.about .container-description .content-founder a {
    background-color: var(--secundary-color);
    width: 190px;
    height: 61px;
    display: block;
    text-align: center;
    line-height: 61px;
    font-size: 18px;
    font-family: 'Manrope';
    font-weight: 700;
    margin-top: 32px;
}

.about .container-description .content-founder a:active {
    background-color: transparent;
    color: var(--secundary-color);
    border: 2px solid var(--secundary-color);
}

footer .container-footer {
    width: 116px;
    height: 102px;
    margin: 60px auto 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

footer .logo-footer {
    width: 95px;
    height: auto;
}

footer .redes-sociais {
    display: flex;
    gap: 20px;
}

footer .redes-sociais .rede-social a i {
    color: var(--tertiary-color);
    width: 20px;
    height: 20px;
    font-size: 20px;
}

footer .redes-sociais .rede-social a i:active {
    color: var(--primary-color);
}